@import 'react-notifications/lib/notifications.css';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
} */
.container{
  margin-top: 20px;
  padding: 25px 40px 10px 40px;
  box-shadow: 5px 10px 5px rgba(161, 113, 23, 0.742);
}
.container .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .text u{
  height: 100px;
  line-height: 200px;
  text-align: center;
}
.container .text h5{
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 2px dashed #f69c55;
}

.container .text h6{
  height: 150px;
  line-height: 100px;
  text-align: center;
  margin-top: 100px;
}

.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}


section {
  min-width: 350px;
  height: 100%;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  font-size: 0.8rem;
  text-transform: uppercase;
  background: #f1f1f1;
}

tr {
  border-top: 1px solid #e6e6e6;
}

td {
  font-weight: 100;
}

th, td {
  padding: 1.25rem 2rem;
}

td:first-child,
th:first-child {
  text-align: left;
}

td:nth-last-child(2),
th:nth-last-child(2) {
  text-align: right;
}

td + td:not(:nth-last-child(2)) {
  text-align: center;
}

.table__button-group {
  visibility:visible;
  transition: visibility 0.06s ease-in;
}
.table__button-group a {
  text-decoration: none;
  color: #0989ab;
  font-size: 0.8rem;
  font-weight: 500;
}
.table__button-group a:hover {
  color: #0989ab;
  opacity: 0.75;
}
.table__button-group a ~ a:before {
  content: "|";
  padding: 0 0.35rem;
}

tr:hover > td .table__button-group {
  visibility: visible;
}
.table__button-group button{
  background-color: white;
  border: none;
  display: flex;
  cursor: pointer;
}

button[id='view']{
  background-color: yellow;
  width: 80px;
  display: inline-block;
  color: black;
}
button[id='edit']{
  background-color: green;
  display: inline-block;
  width: 80px;
  color: black;
}
button[id='delete']{
  background-color: red;
  display: inline-block;
  width: 80px;
  color: black;
}